@font-face {
    font-family: 'MinhaFonteOTF';
    src: url('/assets/fonnts.com-poster_cut_neue_regular-webfont.woff') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
    font-family: 'MinhaFonteOTF', sans-serif;
}

header {
    width: 100%;
    min-height: 500px;
    background-image: url('/assets/BANNER\ QUANDO\ O\ PRESIDENTE\ COMEU\ MINHA\ MAE\ \(980\ x\ 500\ px\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.container-video {
    width: 100%;
    min-height: 800px;
    background-color: #FFC700;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 15px;   
    gap: 50px; 

}

.info-entrada {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;    
}

.info-local span {
    font-size: 15px;
}

.producao {
    width: 100%;
    min-height: 300px;
    background-color: #F40003;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    text-align: center;
    color: #FFC700;
}

.smallcase {
    font-size: 15px;
}

footer {
    width: 100%;
    min-height: 150px;
    background-color: #F40003;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

footer h1 {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

footer img {
    max-width: 100%;
    height: 100px;
}

footer p a {
    text-decoration: none;
    color: inherit;
}

footer p:hover {
    cursor: pointer;
}

footer p,
footer a {
    font-family: "Open Sans", sans-serif;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #FFC700;
}


@media (min-width: 1100px) and (max-width: 1650px) {
    header {
        min-height: 400px; 
        background-image: url('/assets/banner3.png');
    }
}

@media (min-width: 1651px) {
    header {
        min-height: 500px; 
        background-image: url('/assets/banner3.png');
    }
}


@media (max-width: 1024px) {
    header {        
        width: 100%;
        height: 500px;
        background-image: url('/assets/BANNER\ QUANDO\ O\ PRESIDENTE\ COMEU\ MINHA\ MAE\ \(980\ x\ 500\ px\).png');
        background-position: center;        
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container-video {
        min-height: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .video {
        width: 80%;
    }

    .producao {
        min-height: 300px;
        padding: 0 30px;
    }
    footer {
        padding: 20px 0 20px 0;
    }

    footer img {
        width: 50%;
    }
}


@media (max-width: 480px) {
    header {
        width: 100%;
        height: 350px;
        min-height: 300px;
        background-image: url('/assets/banner-mobile-3.png');
        background-position: center;        
        background-size: cover;
        background-repeat: no-repeat;       
                   
    }    
    .espaco1 {
        width: 100%;
        height: 23px;
        background-color: #FFC700;
    }
    .espaco2 {
        width: 100%;
        height: 50px;
        background-color: #FFC700;
    }

    .container-video {
        min-height: 400px;
        padding: 0;
        align-items: center;
    }

    .video {
        width: 98%;
        height: 300px;
    }

    .infos {
        display: flex;
        justify-content: center;        
        align-items: center;
        width: 100%;        
        text-align: center;
        font-size: 8px;   
        padding: 40px 10px;
        gap: 5px;         
    
    }
    
    .info-entrada {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;    
    }
    
    .info-local span {
        font-size: 8px;
    }

    .producao {
        font-size: 10px;
        min-height: 200px;
        padding: 0 10px;
        text-align: center;
        padding-top: 20px;
    }

    .smallcase {
        font-size: 10px;
    }

    footer {
        padding: 0 10px 10px 10px;
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
    }

    footer img {
        width: 300px;
        height: auto;
    }

    footer h1 {
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
    }

    footer p,
    footer a {
        font-family: "Open Sans", sans-serif;
    }

    .copyright {
        text-align: center;
    }

    


}